Source: cocaine-dealer
Section: utils
Priority: extra
Maintainer: Rim Zaidullin <rimz@yandex-team.ru>
Build-Depends:
 cdbs,
 cmake,
 build-essential,
 devscripts,
 debhelper (>= 7.0.13),
 libzmq-dev,
 libmsgpack-dev,
 uuid-dev,
 libssl-dev,
 libcurl4-openssl-dev,
 eblob (<< 0.17.8),
 libev-dev,
 libboost-dev,
 libboost-thread-dev,
 libboost-system-dev,
 libboost-regex-dev,
 libboost-program-options-dev,
 libcocaine-dev (>= 0.10.1)
Standards-Version: 3.9.1
Vcs-Git: git://github.com/cocaine/cocaine-dealer.git
Vcs-Browser: https://github.com/cocaine/cocaine-dealer

Package: libcocaine-dealer1
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Provides: libcocaine-dealer1
Replaces: libcocaine-dealer1
Description: Cocaine - Dealer
 Cocaine scheduler and persistent transport.

Package: libcocaine-dealer-dev
Architecture: any
Section: libdevel
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 cdbs,
 cmake,
 build-essential,
 devscripts,
 debhelper (>= 7.0.13),
 libzmq-dev,
 libmsgpack-dev,
 uuid-dev,
 libssl-dev,
 libcurl4-openssl-dev,
 eblob (<< 0.17.8),
 libev-dev,
 libboost-dev,
 libboost-thread-dev,
 libboost-system-dev,
 libboost-regex-dev,
 libboost-program-options-dev,
 libcocaine-dev (>= 0.10.1),
 libcocaine-dealer1 (= ${Source-Version})
Description: Cocaine - Dealer Development Files
 Files needed to use Cocaine Dealer in development.

